$red: #db3a09;
$yellow: #f9b234;
$purple: #952aff;
$green: #3ecd5e;
$blue: #18b1d1;
$dark-background: rgb(10, 10, 10);

$navigation-height: 4em;
$container-margin: 2em;
$basic-transition: all 0.5s ease;